@reference "@styles/index.css";

.marker {
  @apply cursor-pointer;
}

.popup-input {
  @apply w-[150px] px-2 py-1.5 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all;
}
